<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048</title>

   <%= stylesheet_link_tag "main" %>
  <link rel="shortcut icon" href="favicon.ico">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body><table style="margin:auto">
  <tr><td> 
    <%= link_to 'My Blog', controller: 'blogs'  %></td>
 <td>&nbsp;&nbsp;&nbsp;<%= link_to 'Aboutme', '/profile/aboutme' , {:style=>'color:red;  text-decoration:none ;font-size:25px;'} %>  
  </td> 
  <td>
&nbsp;&nbsp;&nbsp;<%= link_to '2048','/game/index' ,{:style=>'color:red;  text-decoration:none ;font-size:25px;'}%></td>
  <td> 
&nbsp;&nbsp;&nbsp;<%= link_to 'Play 2584','/game2/index' ,{:style=>'color:red;  text-decoration:none ;font-size:25px;'}%></td>
<td> 
&nbsp;&nbsp;&nbsp;<%= link_to 'Play Flood Color','/game3/index', {:style=>'color:red;  text-decoration:none ;font-size:25px;'} %></td>
</tr></table>

<hr>
  <div class="container">
    <div class="heading">
      <h1 class="title">2048</h1>
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
    </p>
    <hr>
    
    <hr>
    <p>
   Created by Aakash Tiwari <a href= "../index.html">Go to Home Page</a>
    </p>
  </div>

  <%= javascript_include_tag "js1/bind_polyfill" %>
  <%= javascript_include_tag "js1/classlist_polyfill" %>
  <%= javascript_include_tag "js1/animframe_polyfill" %>
  <%= javascript_include_tag "js1/keyboard_input_manager" %>
  <%= javascript_include_tag "js1/html_actuator" %>
  <%= javascript_include_tag "js1/grid" %>
  <%= javascript_include_tag "js1/tile" %>
  <%= javascript_include_tag "js1/local_storage_manager" %>
  <%= javascript_include_tag "js1/game_manager" %>
  <%= javascript_include_tag "js1/application" %>
  <script> window.onload =function() {
   MyGame.restart(); 
  }; </script>
</body>
</html>
