 </p>
 <table style="margin:auto">
  <tr><td> 
    <%= link_to 'My Blog', controller: 'blogs'  %></td>
 <td>&nbsp;&nbsp;&nbsp;<%= link_to 'Aboutme', '/profile/aboutme' , {:style=>'color:red;  text-decoration:none ;font-size:25px;'} %>  
  </td> 
  <td>
&nbsp;&nbsp;&nbsp;<%= link_to '2048','/game/index' ,{:style=>'color:red;  text-decoration:none ;font-size:25px;'}%></td>
  <td> 
&nbsp;&nbsp;&nbsp;<%= link_to 'Play 2584','/game2/index' ,{:style=>'color:red;  text-decoration:none ;font-size:25px;'}%></td>
<td> 
&nbsp;&nbsp;&nbsp;<%= link_to 'Play Flood Color','/game3/index', {:style=>'color:red;  text-decoration:none ;font-size:25px;'} %></td>
</tr></table></p>
  <p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @blog.body %>
</p>

 
<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
  	<%= f.label :body %><br>
  	<%= f.text_area :body %>
  </p>
  <p>
  	<%= f.submit %>
  </p>
  <% end %>
<%= link_to 'Back', blogs_path %>
...
 
<%= link_to 'Edit', edit_blog_path(@blog) %> 