 <p>
  <nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'My Blog', 'blogs' ,{:style=>'color: #FF00FF;  text-decoration:none ;font-size:25px;'} %></li>
        <li><%= link_to 'Home', '/home' ,{:style=>'color:#3366FF;  text-decoration:none ;font-size:25px;'} %></li>
        
        <li><%= link_to 'AboutMe', '/aboutme' , {:style=>'color:#FF0099;  text-decoration:none ;font-size:25px;'} %></li>  

        <li><%= link_to 'Games', 'game',{:style=>'color:#9FAA11;  text-decoration:none ;font-size:25px;'} %></li>

        <li><%= link_to 'Contact Me', '/contacts',{:style=>'color:#B12222;  text-decoration:none ;font-size:25px;'} %></li>
</ul>
</nav>
 </p>
  <p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @blog.body %>
</p>

 
<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
  	<%= f.label :body %><br>
  	<%= f.text_area :body %>
  </p>
  <p>
  	<%= f.submit %>
  </p>
  <% end %>
<%= link_to 'Back', blogs_path %>
...
 
<%= link_to 'Edit', edit_blog_path(@blog) %> 