<body>
	<nav class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'My Blog', 'blogs' ,{:style=>'color: #FF00FF;  text-decoration:none ;font-size:25px;'} %></li>
        <li><%= link_to 'Home', '/home' ,{:style=>'color:#3366FF;  text-decoration:none ;font-size:25px;'} %></li>
        
        <li><%= link_to 'AboutMe', '/aboutme' , {:style=>'color:#FF0099;  text-decoration:none ;font-size:25px;'} %></li>  

        <li><%= link_to 'Games', 'game',{:style=>'color:#9FAA11;  text-decoration:none ;font-size:25px;'} %></li>

        <li><%= link_to 'Contact Me', '/contacts',{:style=>'color:#B12222;  text-decoration:none ;font-size:25px;'} %></li>
</ul>
</nav>
<p> Thanks for messaging .Your message has been successfully received.</p>
</body>
