<!DOCTYPE html>
<html>
<head><title>Aakash Tiwari</title>

	<style>
h1 { text-align: center;
    color: #6495ed;
}
h2 {
    color: #6495de;
}

p {
    color: #e0ffff;
}


body {
   background-image: url(<%= asset_path '1.jpg' %>)
 }
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   /* Height of the footer */
  
}
#container {
   height:100%;
}
div {
  font-size: 20px; 
  text-align: center; 
  margin: 5px 3px 0 0; 
  margin: 75px 0 0 0;
  float: left; 
  width: 508px; 
  height:200px; 
  border-radius:2px; 
  font-family: "Comic Sans MS", cursive;
  background-color: green ;
  color:#FFF; 
}
</style>
	<h1 >Aakash Tiwari</h1>
</head>

<body>
<h2><marquee>Welcome to Aakash's Tiwari Webpage.....</marquee></h2>
 <nav class="navbar navbar-inverse">

      <ul class="nav navbar-nav">
        <li><%= link_to 'My Blog', 'blogs' ,{:style=>'color: #FF00FF;  text-decoration:none ;font-size:25px;'} %></li>
        <li><%= link_to 'Home', '/home' ,{:style=>'color:#3366FF;  text-decoration:none ;font-size:25px;'} %></li>
        
        <li><%= link_to 'AboutMe', '/aboutme' , {:style=>'color:#FF0099;  text-decoration:none ;font-size:25px;'} %></li>  

        <li><%= link_to 'Games', '/game',{:style=>'color:#9FAA11;  text-decoration:none ;font-size:25px;'} %></li>

        <li><%= link_to 'Contact Me', '/contacts',{:style=>'color:#B12222;  text-decoration:none ;font-size:25px;'} %></li>
      </ul>

</nav>

<hr>
<div><p> I am Aakash Tiwari from Allahabad.
  I have done my btech IERT Allahabd.I love watching movies and reading books.
   I am currently working as a Full stack developer in Cybrila Technologies.

     </p></div> 


 <%= link_to 'My Sem1 score','aboutme/sem1' ,{:style=>'color:red;  text-decoration:none ;font-size:16px;'}%>
 &nbsp;&nbsp;&nbsp;<%= link_to 'My Sem2 score','aboutme/sem2' ,{:style=>'color:red;  text-decoration:none ;font-size:16px;'}%>
 &nbsp;&nbsp;&nbsp;<%= link_to 'My Sem3 score','aboutme/sem3' ,{:style=>'color:red;  text-decoration:none ;font-size:16px;'}%> 
<img src=https://trcs.wikispaces.com/file/view/che_guevara.jpg/41147947/che_guevara.jpg width="300" height="400" align="right"/>
</body>	
<footer>
  <p>Posted by: Aakash</p>
  
</footer>

</html>