<!DOCTYPE html>
<html>
<head><title>Aakash Tiwari</title>
	<style>
h1 {
    color: #6495ed;
}
h2 {
    color: #6495de;
}

p {
    color: white;
}

p1{ 
color: blue;
font-size: 20px;
}
body {
    background-image: url("background.jpg");
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   /* Height of the footer */
  
}
#container {
   height:100%;
}
</style>
	<title>Welcome to Aakash's Webpage</title>
</head>

<body>

<h1 ><marquee><font size="40px">Welcome to Aakash's Tiwari Webpage.....</font></marquee></h1>
<table> 
<table style="margin:auto">
  <tr><td> 
  <td>
 &nbsp;&nbsp;&nbsp;<%= link_to 'aboutme', 'profile/aboutme' , {:style=>'color:yellow'} %> <font color= "red" size="5px">About me..!!!</font> </a>
  </td> 
  <td>
&nbsp;&nbsp;&nbsp;<%= link_to '2048','game/index' %><font color= "green" size="5px" >Play 2048..!!!</font></a></td>
  <td> 
&nbsp;&nbsp;&nbsp;<%= link_to 'Play 2584','game2/index' ,{:style=>'text-decoration:none'} %><font color= "yellow" size="5px">Play 2584!!!</font></a> </p1></td>
<td> 
&nbsp;&nbsp;&nbsp;<%= link_to 'Play Flood Color','game3/index', {:style=>'text-decoration:none'} %><font color= "violet" size="5px">Play Flood Colour!!!</font></a></td>
</tr></table>

<hr>
<img src=https://scontent-sin1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11222298_10203213323133075_5372302718891976053_n.jpg?oh=5e7e888ec54d0af35f9a08ffbdd83db3&oe=5642637B width="300" height="400" align="right"/>
</body>	
<footer>
  <p>Posted by: Aakash</p>
  <p>Contact information: <%= link_to 'contact me', profile/contactme ><font color="blue"><strong>CONTACT ME</strong></font></a></p>
</footer>

</html>