<!DOCTYPE html>
<html>
<head><title>Aakash Tiwari</title>
	<style>
h1 {
    color: #6495ed;
}
h2 {
    color: #6495de;
}

p {
    color: #e0ffff;
}

p1{ 
color: Yellow;
font-size: 20px;
}
body {
    background-image: url("http://radiofya.com.br/wp-content/uploads/2014/08/web-page-background-image-hd-wallpapers-res-wallpaper-website-respage-icon-google-page-design-templates-blank-free-create-home-make-your-yahoo-websites-background-image-hd-wallpapers.jpg");
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   /* Height of the footer */
  
}

</style>
	<title>Welcome to Aakash's Webpage</title>
</head>

<body>
<h1>Hi Guys,</h1>
<h2><marquee>Welcome to Aakash's Tiwari Webpage.....</marquee></h>
  <table style="margin:auto">
  <tr><td> 
    <%= link_to 'My Blog', controller: 'blogs'  %></td>
 <td>&nbsp;&nbsp;&nbsp;<%= link_to 'Home', '/profile/index' , {:style=>'color:red;  text-decoration:none ;font-size:25px;'} %>  
  </td> 
  <td>
&nbsp;&nbsp;&nbsp;<%= link_to '2048','/game/index' ,{:style=>'color:red;  text-decoration:none ;font-size:25px;'}%></td>
  <td> 
&nbsp;&nbsp;&nbsp;<%= link_to 'Play 2584','/game2/index' ,{:style=>'color:red;  text-decoration:none ;font-size:25px;'}%></td>
<td> 
&nbsp;&nbsp;&nbsp;<%= link_to 'Play Flood Color','/game3/index', {:style=>'color:red;  text-decoration:none ;font-size:25px;'} %></td>
</tr></table>

<hr>
Your score was 87
</body>	
<footer>
  <p>Posted by: Aakash</p>
  <p> <a href="../index.html">home page</a>.</p>
</footer>

</html>